<?xml version="1.0"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    
    </startup>
  <appSettings>
    <add key="site" value="williamhill"/>
    <!--add key="connection1" value="Database=d7menjp3rap4ts;Server=ec2-54-235-155-182.compute-1.amazonaws.com;Port=5432;User Id=leupjwfvjinxsi;Password=HACn2POfVhsUY9S5HUsV7DhgS_;SSL=true;"></add>
    <add key="dbtype" value="pg"/> -->
    
    <add key="connection1" value="Data Source=D:\\db\\production.sqlite3"></add>
    <add key="dbtype" value="sqlite"/> 
    
    <add key="xmlPath" value="d:\\bot"/>
    <add key="sleeptime" value="5000"/>
    <!--add key="dbtype" value="pg"/> --> 
    <!--add key="site" value="willhill"/> -->
  </appSettings>

</configuration>
